$border: 1px solid #D2D8DA;

:host {
  background: rgb(249, 250, 250);
  border: $border;
  border-radius: 5px;
  display: block;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 10px;
  height: 50px;
  padding: 9px;
}

.icon {
  float: right;
  transition: all 0.5s ease;
  position: relative;
  top: 4px;
  &.open {
    transform: rotate(90deg);
  }
}
