$primary-color: #c3d081;

.pagination {
  margin: 0;

  li {
    a {
      border: none;
      background-color: transparent;
      color: $primary-color;
    }
  }

  .active {
    a {
      background-color: transparent;
      color: darken($primary-color, 25%);
    }
  }
}

.ngx-pagination {
  display: inline;
}

