<div>
  <!--<ngx-datatable [rows]="rows"-->
                 <!--[reorderable]="false"-->
                 <!--(page)="setPage($event)">-->


    <!--<ngx-datatable-column prop="dateCreated" name="Order date" [width]="160">-->
      <!--<ng-template let-value="value" ngx-datatable-cell-template>-->
        <!--{{value | date: 'dd/MM/yyyy'}}-->
      <!--</ng-template>-->
    <!--</ngx-datatable-column>-->

    <!--<ngx-datatable-column prop="orderId" [width]="130">-->
      <!--<ng-template let-value="value" ngx-datatable-cell-template>-->
        <!--<a href="/orders/{{value}}">{{value}}</a>-->
      <!--</ng-template>-->
    <!--</ngx-datatable-column>-->

    <!--<ngx-datatable-column prop="customerName" [width]="200">-->
      <!--<ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>-->
    <!--</ngx-datatable-column>-->

    <!--<ngx-datatable-column prop="supplierName" [width]="200">-->
      <!--<ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>-->
    <!--</ngx-datatable-column>-->

    <!--<ngx-datatable-column prop="typeText" name="Type" [width]="165">-->
      <!--<ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>-->
    <!--</ngx-datatable-column>-->

    <!--<ngx-datatable-column prop="statusText" name="Status" [width]="140">-->
      <!--<ng-template let-value="value" ngx-datatable-cell-template>-->
        <!--{{value}}-->
        <!--&lt;!&ndash;
      <!--</ng-template>-->
    <!--</ngx-datatable-column>-->

  <!--</ngx-datatable>-->
  <table class="table table-striped table-hover table-condensed ">

    <tbody>
    <tr *ngFor="let row of rows">
      <td>{{row.orderDate | date}}</td>
      <td>
        <a [routerLink]="row.orderItemId"> {{row.orderItemId}}</a>
      </td>
      <td>{{row.customerName}}</td>
      <td>{{row.supplierName}}</td>
      <td>{{row.type}}</td>
      <td>{{row.status}}</td>
      <td>
        <span [popover]="myPopover" [popoverOnHover]="true">
          <i class="fa fa-info-circle"></i>
        </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!--TODO: implement popover -->
<popover-content #myPopover
                 placement="right"
                 [animation]="true">
                 lol
</popover-content>
  <!--<b>Very</b> <span style="color: #C21F39">Dynamic</span> <span style="color: #00b3ee">Reusable</span>-->
  <!--<b><i><span style="color: #ffc520">Popover With</span></i></b> <small>Html support</small>.-->
<!--</popover-content>-->
