<div>
  <ngx-datatable [rows]="rows"
                 [reorderable]="false"
                 (page)="setPage($event)">


    <ngx-datatable-column prop="dateCreated" name="Order date" [width]="130">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value | date: 'dd/MM/yyyy'}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="orderId" [width]="130">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <a href="/orders/{{value}}">{{value}}</a>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="customerName" [width]="180">
      <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="supplierName" [width]="180">
      <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="typeText" name="Type" [width]="165">
      <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="statusText" name="Status" [width]="140">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
        <!--<span [popover]="myPopover" [popoverOnHover]="true"></span>-->
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</div>

<!--TODO: implement popover -->
<!--<popover-content #myPopover-->
                 <!--title="Popover title"-->
                 <!--placement="left"-->
                 <!--[animation]="true"-->
                 <!--[closeOnClickOutside]="true" >-->
  <!--<b>Very</b> <span style="color: #C21F39">Dynamic</span> <span style="color: #00b3ee">Reusable</span>-->
  <!--<b><i><span style="color: #ffc520">Popover With</span></i></b> <small>Html support</small>.-->
<!--</popover-content>-->
