$navbar-height: 100px;
$navbar-footer-height: $navbar-height - 60px;
$logo-top-margin: 25px;

:host {
  display: block;
  min-height: $navbar-height;
  margin-bottom: 20px;
}

.navbar {
  background: #1A3E47;

  height: $navbar-height;
}

.nav-links {
  position: absolute;
  bottom: 10px;
  color: white;

  a {
    color: #c7c7c7;;
    margin-right: 20px;

    &:hover {
      color: white;
    }

    &.active {
      color: white;
    }
  }
}

.navbar-footer {
  background: #fff;
  height: $navbar-footer-height;
  opacity: 0.1;
  position: relative;
  top: -40px;
  z-index: -1;
}

.logo-container {
  background: white;
  height: $navbar-height - $logo-top-margin;
  margin-top: $logo-top-margin;
  border-radius: 5px 5px 0 0;

  img {
    position: absolute;
    bottom: 15px;
  }
}
