<div class="row-fluid">

  <div class="col-sm-2">{{page.totalResults}} found <span class="pull-right">|</span></div>

  <div class="col-sm-1">View</div>
  <div class="col-sm-2">
    <select [(ngModel)]="page.pageSize" class="form-control" (change)="onPageChange()">
      <option *ngFor="let number of numToDisplayOpts" [value]="number.number">{{number.number}}</option>
    </select>
  </div>

  <div class="pull-right">

    <button class="btn btn-default"
            [popover]="myPopover"
            (onShown)="advancedSearchVisible = true"
            (onHidden)="advancedSearchVisible = false">

      Refine search <span class="open-close-btn"
                          [class.open]="advancedSearchVisible"
                          [class.closed]="!advancedSearchVisible">&nbsp;&nbsp;</span>
    </button>

    <popover-content #myPopover
                     placement="bottom"
                     [animation]="true"
                     [closeOnClickOutside]="true">

      <ng-content select="[advanced-search]"></ng-content>

    </popover-content>
  </div>
</div>
