<form class="login-form">
  <h3>Login to gateway</h3>

  <div class="input-row">
    <div class="col-sm-3">
      Username:
    </div>
    <div class="col-sm-9">
      <input name="user" [(ngModel)]="user" type="text" class="form-control">
    </div>
  </div>

  <div class="input-row">
    <div class="col-sm-3">
      Password:
    </div>
    <div class="col-sm-9">
      <input name="password" [(ngModel)]="password" type="password" class="form-control">
    </div>
  </div>

  <div class="input-row">
    <div class="col-sm-6 col-sm-offset-3">
      <button class="btn btn-primary" (click)="login()">Login</button>
    </div>
  </div>
</form>
