
router-outlet {
  & + * {
    display: block;
    overflow: auto;
    animation-duration: 1200ms;
    animation-name: fade;
    animation-fill-mode: forwards;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
