









<!--<table class="table table-bordered table-responsive table-striped">-->
  <!--<thead>-->
  <!--<th>Supplier name</th>-->
  <!--<th>Status</th>-->
  <!--<th>Type</th>-->
  <!--<th>Region</th>-->
  <!--<th>Phone number</th>-->

  <!--</thead>-->
<!--</table>-->

<!--<div>-->

  <!--<ngx-datatable [rows]="rows"-->
                 <!--[reorderable]="false"-->
                 <!--(page)="setPage($event)"-->
                 <!--[limit]="limit">-->

    <!--<ngx-datatable-column prop="name" [width]="270">-->
      <!--<ng-template let-value="value" ngx-datatable-cell-template>-->
        <!--<a href="/suppliers/{{value}}">{{value}}</a>-->
      <!--</ng-template>-->
    <!--</ngx-datatable-column>-->

    <!--<ngx-datatable-column prop="status" [width]="130">-->
      <!--<ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>-->
    <!--</ngx-datatable-column>-->

    <!--<ngx-datatable-column prop="type" [width]="130">-->
      <!--<ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>-->
    <!--</ngx-datatable-column>-->

    <!--<ngx-datatable-column prop="region" [width]="125">-->
      <!--<ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>-->
    <!--</ngx-datatable-column>-->

    <!--<ngx-datatable-column prop="phoneNumber" name="Status" [width]="140">-->
      <!--<ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>-->
    <!--</ngx-datatable-column>-->

    <!--<ngx-datatable-column prop="primaryUser" [width]="140">-->
      <!--<ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>-->
    <!--</ngx-datatable-column>-->
  <!--</ngx-datatable>-->
<!--</div>-->

<!--&lt;!&ndash;TODO: implement popover &ndash;&gt;-->
<!--&lt;!&ndash;<popover-content #myPopover&ndash;&gt;-->
<!--&lt;!&ndash;title="Popover title"&ndash;&gt;-->
<!--&lt;!&ndash;placement="left"&ndash;&gt;-->
<!--&lt;!&ndash;[animation]="true"&ndash;&gt;-->
<!--&lt;!&ndash;[closeOnClickOutside]="true" >&ndash;&gt;-->
<!--&lt;!&ndash;<b>Very</b> <span style="color: #C21F39">Dynamic</span> <span style="color: #00b3ee">Reusable</span>&ndash;&gt;-->
<!--&lt;!&ndash;<b><i><span style="color: #ffc520">Popover With</span></i></b> <small>Html support</small>.&ndash;&gt;-->
<!--&lt;!&ndash;</popover-content>&ndash;&gt;-->
