<ig-pagination-header [page]="page" (pageChange)="onPageChange($event)">
  <div advanced-search>
    <ig-suppliers-advanced-search></ig-suppliers-advanced-search>
  </div>
  <div saved-searches>
    <ig-saved-searches></ig-saved-searches>
  </div>
</ig-pagination-header>

<table class="table table-bordered table-striped table-responsive table-condensed">
  <thead>
  <th *ngFor="let column of columns">{{column.heading}}</th>
  </thead>
  <tbody>
  <tr *ngFor="let row of suppliers">
    <td *ngFor="let column of columns">
      <span *ngIf="!column.custom">{{row[column.key]}}</span>
      <span *ngIf="column.key === 'name'">
        <a [routerLink]="['..', row['id'], 'overview']">{{row[column.key]}}</a>
      </span>
    </td>
  </tr>
  </tbody>
</table>

<ig-pagination-footer [page]="page" (pageChange)="onPageChange($event)"></ig-pagination-footer>
