<div class="row-fluid">
  <div class="col-sm-2">
    {{page.totalResults}} found
    <span class="pull-right">|</span>
  </div>
  <div class="col-sm-1">
    View
  </div>
  <div class="col-sm-2">
    <select [(ngModel)]="page.pageSize" (change)="onPageChange()" class="form-control">
      <option *ngFor="let size of page.pageSizes" [value]="size">{{size}}</option>
    </select>
  </div>

  <div class="pull-right">
    <ig-pager [totalItems]="page.totalResults"
                   [itemsPerPage]="page.pageSize"
                   (pageChanged)="onPageChange($event)">
    </ig-pager>
  </div>
</div>
