<div class="row">
  <div class="col-sm-12">
    <span>
        Adjust your results using the filters below
    </span>
    <a class="pull-right">Save this search</a>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-4">
    ORDER DATE
    <div class="col-sm-6 no-padding">
      <my-date-picker required placeholder="from" class=""
                       [options]="myDatePickerOptions" [(ngModel)]="fromDate"></my-date-picker>
    </div>
    <div class="col-sm-6 no-padding">
      <my-date-picker required placeholder="to"
                      [options]="myDatePickerOptions" [(ngModel)]="toDate"></my-date-picker>
    </div>

    <div class="col-sm-12">
      SUPPLIER NAME
    </div>
    <ng-select [options]="suppliers" [(ngModel)]="supplierId"></ng-select>
  </div>
  <div class="col-sm-4"></div>

  <div class="col-sm-4">
    <button class="btn btn-primary">Submit</button>
  </div>
</div>
