@import "../node_modules/bootstrap/dist/css/bootstrap.css";


$container-width: 960px;


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

*{
  box-sizing: border-box;
}

.container {
  margin: auto;
  width: $container-width;
}

button {
  outline: none;
}

.page-heading {
  color: #de3855;
}
.ngx-pagination {
  display: inline;
}

.float-right {
  float: right;
}

.popover {
  max-width: 600px;
}

.no-padding {
  padding: 0;
}

@import "styles/_tables";
@import "styles/forms";
