@import "../node_modules/bootstrap/dist/css/bootstrap.css";
$fa-font-path : '../node_modules/font-awesome/fonts';
@import '../node_modules/font-awesome/scss/font-awesome';

$primary-color: #c3d081;

body {
  background-color: #f9f9f9;
}

a {
  color: darken($primary-color, 10%);

  &:hover {
    color: $primary-color;
  }
}

.popover {
  max-width: 600px;
}

.no-padding {
  padding: 0;
}

.border-right {
  border-right: 1px solid #858585;
}

router-outlet {
  & + * {
    display: block;
    overflow: auto;
    animation-duration: 1200ms;
    animation-name: fade;
    animation-fill-mode: forwards;
  }
  width: 100%;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@import "styles/forms";
@import "styles/overrides";


.form-control:focus, .form-control:active,
button:focus, button:active {
  outline: none !important;
  border-color: rgb(204, 204, 204);
  -webkit-box-shadow: none;
  box-shadow: none !important;
}
